CompileFlags:
  Add:
    - ''
    - '-ferror-limit=0'
    - '-Wno-implicit-int'
    - '--target=arm-none-eabi'
    - >-
      --sysroot=/home/benno/.local/share/stm32cube/bundles/gnu-tools-for-stm32/14.3.1+st.2/arm-none-eabi
    - '-isystem'
    - >-
      /home/benno/.local/share/stm32cube/bundles/gnu-tools-for-stm32/14.3.1+st.2/arm-none-eabi/include
  CompilationDatabase: build/Debug
Diagnostics:
  Suppress:
    - unused-includes
    - unknown_typename
    - unknown_typename_suggest
    - typename_requires_specqual
